.sectionGeneral{
    align-items: center;
    justify-content: center;
    display: flex;
    flex: wrap;

    min-height: 100%;

    background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

th{
    text-align: center;
    border-bottom: 2px solid black;
    text-transform: uppercase;
    font-weight: bolder;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    background-color: cornflowerblue;
}

td{
    text-align: center;
    border-bottom: 1px solid black;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

button{
    text-transform: capitalize;
}

table{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

tr:nth-child(even){
    background-color: rgba(0, 0, 0, 0.1);
}

tr:hover{
    background-color: cadetblue;
    color: white;
}